<!DOCTYPE html>
 <html>
 <head>
 <title>首页</title>
 <style>

  body{
   background-image: url('/static/1.jpg');
   background-size: cover;
   text-align: center;
  }

  a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: red;
  }

 </style>
 </head>
 <body>

 <br><br><h1> 学生管理系统 </h1>
 <br><br><a href="/add_student">添加学生</a><br><br>
 <br><br><a href="/delete_student">删除学生 </a><br><br>
 <br><br><a href ="/student_info">查看学生信息</a><br><br>

 </body>
 </html>