<!DOCTYPE html>
 <html>
 <head>
   <title>学生信息</title>

 <style>
  body{
   background-image: url('/static/4.jpg');
   background-size: cover;
   text-align: center;
   font-weight: bold;
   font-size: larger;

  }

  a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: red;
  }

 </style>

 </head>
 <body>
 <h1 style="color: green">学生信息</h1><br>

 <table align="center" cellspacing = "2" cellpadding = "13" border = "10" width="700" >

 <thead>
 <td>序号</td>
 <td>名字</td>
 <td>邮箱</td>
 <td>性别</td>
 <td>联系方式</td>
 <td>出生日期</td>
 <td>地址</td>

 </thead>
 {% for row in rows %}
 <tr>
 <td>{{row["id"]}}</td>
 <td>{{row["name"]}}</td>
 <td>{{row["email"]}}</td>
 <td>{{row["gender"]}}</td>
 <td>{{row["contact"]}}</td>
 <td>{{row["dob"]}}</td>
 <td>{{row["address"]}}</td>
 </tr>
 {% endfor %}   
 </table>
 <br><br>
 <a href="/">回到首页</a>
 </body>
 </html> 
 